.DS_Store
Thumbs.db
*~

web/assets/thumbails*
web/downloads
web/uploads
web/import
web/images/documents
web/images/patenobjekt
web/images/patenpic
web/.htaccess
web/.htpasswd
web/mediathek
web/.sass-cache
.sass-cache

web/forum/images/avatars/upload/
web/forum/cache/
web/forum/files/
web/forum/store/

data/import
data/*.lockfile

config/databases.yml
cache/*
log/*
.env.php

lib/migration/db_version
/data/*.sql
/data/archiv.index
/data/index

/data/backend_dev-cli.lck
/data/frontend_dev-cli.lck
/data/backend_prod-cli.lck
/data/frontend_prod-cli.lck

plugins/sfLucenePlugin/test
plugins/sfLucenePlugin/lib/vendor/ZendOLD
