# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/07-Databases

all:
  phpbb:
      class: sfDoctrineDatabase
      param:
        dsn: 'mysql:dbname=dhastk_phpbb;host=localhost'
        username: USERNAME
        password: USERPW
  doctrine:
    class: sfDoctrineDatabase
    param:
      dsn: 'mysql:dbname=dhastk_website;host=localhost'
      username: USERNAME
      password: USERPW